ClientAjoutProduitWCF/Connected Services/ServiceReference/consommerProduitsWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://soap/" targetNamespace="http://soap/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="consommerProduits" type="tns:consommerProduits" />
  <xs:element name="consommerProduitsResponse" type="tns:consommerProduitsResponse" />
  <xs:element name="inscrireProduit" type="tns:inscrireProduit" />
  <xs:element name="inscrireProduitResponse" type="tns:inscrireProduitResponse" />
  <xs:element name="produit" type="tns:produit" />
  <xs:complexType name="consommerProduits">
    <xs:sequence>
      <xs:element name="idProd" type="xs:int" />
      <xs:element name="qtyProd" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consommerProduitsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inscrireProduit">
    <xs:sequence>
      <xs:element minOccurs="0" name="Produit" type="tns:produit" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="produit">
    <xs:sequence>
      <xs:element name="idProd" type="xs:int" />
      <xs:element minOccurs="0" name="nomProd" type="xs:string" />
      <xs:element name="prixProd" type="xs:double" />
      <xs:element name="qtyProd" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inscrireProduitResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>