ClientAjoutProduitWCF/Connected Services/ServiceReference1/consommerProduitsWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://soap/" targetNamespace="http://soap/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="consommerProduits" type="tns:consommerProduits" />
  <xs:element name="consommerProduitsResponse" type="tns:consommerProduitsResponse" />
  <xs:complexType name="consommerProduits">
    <xs:sequence>
      <xs:element name="idProd" type="xs:int" />
      <xs:element name="nombre" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consommerProduitsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>